* {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}
/* header style */
.header {
  display: 100%;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url('images/banner/banner1.png');
  background-repeat: no-repeat;
  display: flexbox;
}
.header-text {
  text-align: right;
}
.header-text1 {
  position: absolute;
  text-align: right;
  width: 525px;
  font-size: 700;
  height: 228px;
  left: 845px;
  top: 216px;
  border-radius: null;
}
.header-text2 {
  position: absolute;
  width: 494px;
  height: 78px;
  left: 876px;
  top: 468px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: right;
}
.header-button {
  position: absolute;
  width: 160px;
  height: 64px;
  left: 1210px;
  top: 578px;
  background-color: orangered;
  color: white;
  border-radius: 0;
  border-color: #f1f1f1;
}
.main {
  margin-top: 130px;
  display: flex;
}
.main-pic {
  position: absolute;
  width: 569px;
  height: 728.3px;
  left: 180px;
  top: 932px;
  background-image: url('images/gradient3.png');
  background-repeat: round;
  background-size: 0 0;
}
.main-header {
  position: absolute;
  width: 288px;
  height: 94px;
  left: 862px;
  top: 1178px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 47px;
}
.main-sub-topic {
  position: absolute;
  width: 315px;
  height: 26px;
  left: 896px;
  top: 1416px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.main-para {
  position: absolute;
  width: 416px;
  height: 104px;
  left: 862px;
  top: 1296px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.plan-header {
  position: absolute;
  width: 179px;
  height: 47px;
  left: 620px;
  top: 1792.3px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 47px;
}
/* plans */
.my-plan {
  display: flex;
  justify-items: flex-start;
}
.wd {
  position: absolute;
  width: 92.96px;
  height: 92.96px;
  left: 320px;
  top: 1889px;
}
.js {
  position: absolute;
width: 493.96px;
height: 199.96px;
left: 631px;
top: 1892px;

}
.smoke {
  position: absolute;
  width: 218px;
  height: 197px;
  left: 853px;
  top: 1889.3px;
}
.ecom {
  position: absolute;
  width: 214px;
  height: 197px;
  left: 1157px;
  top: 1889.3px;
}
.watch {
  background-image: url('images/watch.png');
  position: absolute;
  width: 1140px;
  height: 300px;
  left: 230px;
  top: 2216.3px;
  background-position: 0;
  border-radius: 8px;
  padding: 10;
  color: rgb(61, 3, 3);
}
.call {
  padding: 200;
}
.call-btn {
  padding: 10 5;
  background-color: orangered;
  text-emphasis-color: white;
  border-radius: 0 0 0 0;
  box-shadow: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: white;
}
.last {
  color: white;
  border-radius: 8px;
  position: absolute;
  display: flex;
width: 1600px;
height: 577px;
left: 0px;
top: 2646.3px;

/* Dark 01 */

background: #151414;
}
.f-h{
  position: absolute;
width: 148px;
height: 53px;
left: 230px;
top: 2776.3px;


font-style: normal}

.btn{
  color: white;
  background-color: orangered;
  
}
.p-h{
 
  display: flex;
}
  .subscribe{
  text-align: right;
  }